# Give the VM its name and id number.
# NOTE that the id number must be unique to a cluster node and no other VM on
# that node may use the same id number.
name = "{{ proxmox_vm_template_def.name }}"
id = "{{ proxmox_vm_template_def.id }}"
desc = "{{ proxmox_vm_template_def.desc }}"


### DEPLOY INFO ###
# Where should it be deployed to
proxmox_cluster_api_uri = "{{ api_uri }}"
# Name of the network interface that Packer gets HTTPIP from. Defaults to the
# first non loopback interface
http_interface = "{{ proxmox_vm_template_web_server_interface | default(lookup('env', 'PROXMOX_VM_TEMPLATE_WEB_INTERFACE')) }}"

### META SETTINGS ###
# Give the VM tags to help with identification. Helpful tags may the linux 
# distro.
tags = "{{ proxmox_vm_template_def.tags | default('debian_12;template;packer') }}"
# The resource pool to which the VM will be added.
pool = "{{ proxmox_vm_template_def.pool | default('') }}"

### HARDWARE ###
{% if proxmox_vm_template_def.source_template is undefined %}
disk = {
  # Storage locations, "local", "local-lvm", "local"
  # Main storage is recommended.
  storage = "{{ proxmox_vm_template_def.disk.location | default('wolftrack-nas') }}"
  # The size of the created disk. Accepts K for kibibytes, M for mebibytes, G
  # for gibibytes, T for tibibytes. When only a number is provided gibibytes
  # is assumed.
  size    = "{{ proxmox_vm_template_def.disk.size | default('20') }}"
}
{% endif %}
