{
    "Adult": {
        "save_path": "adult"
    },
    "Books": {
        "save_path": "books"
    },
    "Movies": {
        "save_path": "movies"
    },
    "Music": {
        "save_path": "music"
    },
    "TV": {
        "save_path": "tv"
    }
}
