entryPoints:
  websecure:
    address: ":443"
    http:

  web:
    address: ":80"
{% if services_traefik_config.force_https == true %}
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
{% endif %}

tls:
  stores:
    default:
      defaultCertificate:
        certFile: /etc/traefik/ssl/ssl.crt
        keyFile: /etc/traefik/ssl/ssl.key
  certificates:
    - certFile: /etc/traefik/ssl/ssl.crt
      keyFile: /etc/traefik/ssl/ssl.key
      stores:
        - default

providers:
  file:
    filename: "/etc/traefik/dynamic.yml"

api:
  dashboard: {{ services_traefik_config.dashboard_enabled | string | lower }}

log:
  level: INFO

accessLog:
  addInternals: true
