#
# LDAP Defaults
#

# See ldap.conf(5) for details
# This file should be world readable but not world writable.

#BASE	${LDAP_BASE_DN}
#URI	ldap://ldap.example.com ldap://ldap-provider.example.com:666

#SIZELIMIT	12
#TIMELIMIT	15
#DEREF		never

#######################################################################
# Sudo Config
#######################################################################
# verbose sudoers matching from ldap
#sudoers_debug 2
# Must be set or sudo will ignore LDAP; may be specified multiple times.
sudoers_base   ou=SUDOers,{{ services_openldap_config.base_dn }}
# Enable support for time-based entries in sudoers.
sudoers_timed yes


