[Unit]
Description=Gitea Podman Container
Wants=network-online.target
Requires=gitea-db-podman.service
After=network-online.target gitea-db-podman.service
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm \
  -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --rm \
  --sdnotify=conmon \
  -d \
  --replace \
  --name=gitea \
  --pod=gitea-pod \
  --env='USER_UID={{ git_user.uid }}' \
  --env='USER_GID={{ git_user.group }}' \
  {% for src, dst in services_gitea_volumes.gitea.items() %}
  -v "{{src}}:{{dst}}" \
  {% endfor %}
  docker.io/gitea/gitea:{{ services_gitea_container_version }}

ExecStop=/usr/bin/podman stop \
  --ignore -t 10 \
  --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm \
  -f \
  --ignore -t 10 \
  --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target

