logging {
  level  = "info"
  format = "logfmt"
}

loki.source.journal "read" {
  forward_to     = [loki.write.endpoint.receiver]
  path           = "/var/log/journal"
}

loki.write "endpoint" {
  endpoint{
    url = "http://loki:3100/loki/loki/api/v1/push"
  }
}
