http:
  routers:
    grafana:
      rule: "Host(`{{ inventory_hostname }}`)"
      entrypoints:
        - websecure
      service: grafana
      tls:
        domains:
          - main: "{{ inventory_hostname }}"

    loki:
      rule: "Host(`loki.{{ inventory_hostname }}`)"
      entrypoints:
        - websecure
      service: loki
      tls:
        domains:
          - main: "{{ inventory_hostname }}"

    prometheus:
      rule: "Host(`prometheus.{{ inventory_hostname }}`)"
      entrypoints:
        - websecure
      service: prometheus
      tls:
        domains:
          - main: "{{ inventory_hostname }}"

    influxdb:
      rule: "Host(`influxdb.{{ inventory_hostname }}`)"
      entrypoints:
        - websecure
      service: influxdb
      tls:
        domains:
          - main: "{{ inventory_hostname }}"
  services:
    grafana:
      loadBalancer:
        servers:
          - url: "http://grafana:3000"
    loki:
      loadBalancer:
        servers:
          - url: "http://loki:3100"

    prometheus:
      loadBalancer:
        servers:
          - url: "http://prometheus:9090"

    influxdb:
      loadBalancer:
        servers:
          - url: "http://influxdb:8086"

tls:
  certificates:
    - certFile: /etc/traefik/ssl/live/{{ inventory_hostname }}/fullchain.pem
      keyFile: /etc/traefik/ssl/live/{{ inventory_hostname }}/privkey.pem

