[Unit]

Description=The Systemd unit file for the {{ podman_pod_container.name }} container

{% if 'systemd' in podman_pod_container %}
Wants=network-online.target {{ podman_pod_container.systemd.wants | default([]) | join(' ') }}
After=network-online.target {{ podman_pod_container.systemd.after | default([]) | join(' ') }}
{% if podman_pod_container.systemd.requires %}
Requires={{ podman_pod_container.systemd.requires | join(' ') }}
{% endif %}
{% else %}
Wants=network-online.target
After=network-online.target
{% endif %}
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
TimeoutStartSec=1800
ExecStartPre=/bin/rm \
  -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --rm \
  --sdnotify=conmon \
  -d \
  --replace \
  --name={{ podman_pod_container.name }} \
  --pod={{ podman_pod_spec.name }} \
{% for key,value in podman_pod_container.labels | default({})  | dict2items %}
  --label "{{ key }}={{ value }}" \
{% endfor %}
{% for volume in podman_pod_container.volumes %}
  -v "{{ volume.src | default(volume.name) }}:{{ volume.target }}" \
{% endfor %}
{% for env in podman_pod_container.envs | default({}) | dict2items %}
  --env='{{ env.key }}={{ env.value }}' \
{% endfor %}
{% for path in podman_pod_container.env_files | default([]) %}
  --env-file={{  path }} \
{% endfor %}
  --env='{{ podman_pod_container.uid_key | default('UID') }}={{ container_user.uid }}' \
  --env='{{ podman_pod_container.gid_key | default('GID') }}={{ container_user.group }}' \
{% if 'args' in podman_pod_container %}
  {{ podman_pod_container.image_url }}:{{ podman_pod_container.image_version | default('latest') }} \
{% for arg in podman_pod_container.args %}
  {{ arg }} \
{% endfor %}
{% else %}
  {{ podman_pod_container.image_url }}:{{ podman_pod_container.image_version | default('latest') }}
{% endif %}

ExecStop=/usr/bin/podman stop \
  --ignore -t 10 \
  --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm \
  -f \
  --ignore -t 10 \
  --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target

