http:
  routers:
    traefik-dashboard:
      rule: "Host(`{{ inventory_hostname }}`) && PathPrefix(`/traefik`)"
      entrypoints:
        - websecure
      service: api@internal
      middlewares:
        - traefik-dashboard-strip
      tls:
        domains:
          - main: "{{ inventory_hostname }}"
    openwebui:
      rule: "Host(`{{ inventory_hostname }}`)"
      entrypoints:
        - websecure
      service: openwebui
      tls:
        domains:
          - main: "{{ inventory_hostname }}"
  services:
    openwebui:
      loadBalancer:
        servers:
          - url: "http://{{ services_openwebui_container_name }}:8080"
  middlewares:
    traefik-dashboard-strip:
      stripPrefix:
        prefixes:
          - /traefik

tls:
  certificates:
    - certFile: /etc/traefik/ssl/live/{{ inventory_hostname }}/fullchain.pem
      keyFile: /etc/traefik/ssl/live/{{ inventory_hostname }}/privkey.pem

