[Unit]
Description=SnipeIT Podman Container
Wants=network-online.target
Requires=snipeit_db-podman.service
After=network-online.target snipeit_db-podman.service
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm \
  -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --rm \
  --sdnotify=conmon \
  -d \
  --replace \
  --name=snipeit \
  --pod=snipeit_pod \
  --env='USER_UID={{ snipeit_user.uid }}' \
  --env='USER_GID={{ snipeit_user.group }}' \
  --env-file={{services_snipeit_main_storage}}/snipeit.env \
  {% for volume in services_snipeit_pod.containers.snipeit.volumes %}
  -v "{{ volume.src | default(volume.name) }}:{{ volume.target }}" \
  {% endfor %}
  docker.io/snipe/snipe-it:{{ services_snipeit_pod.containers.snipeit.image_version }}

ExecStop=/usr/bin/podman stop \
  --ignore -t 10 \
  --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm \
  -f \
  --ignore -t 10 \
  --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target

